.create-role-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
  width: 500px; /* Adjust width as needed */
  background-color: #f0f9ff; /* Background color */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  padding: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

.role-name-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc; /* Border color */
  border-radius: 3px; /* Rounded corners for input */
}

.checkbox-list {
  list-style: none; /* Remove default list style */
  padding: 0; /* Reset padding */
  margin: 0; 
}